section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box1 {
    height: 300px;
    width: 300px;
    margin: 100px;
    background-color: gray;

    box-shadow: 0 5px 7px rgba(6,0,1,.2);
}

.box2 {
    height: 300px;
    width: 300px;
    margin: 100px;
    background-color: gray;

    box-shadow: 4px 15px 7px rgba(240,221,1,.34);
}