/* * {
  scroll-behavior: smooth;
} */

body {
  font-family: "Oswald", "Noto Sans JP", serif;

  font-size: 16px;
  letter-spacing: .05em;
  color: #592f2c;
  background-color: #F7EBD5;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #B33E34;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.none {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 100px;
  overflow: hidden;
}

.section {
  padding: 90px 0;
}

/* .section:nth-of-type(odd) {
  background-color: #EFDEBC;
} */

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: .05em;
  color: #F7EBD5;
  margin-bottom: 5px;
}

.ja {
  text-align: center;
  margin-bottom: 40px;
  font-size: 0.75rem;
  color: #F7EBD5;
}

.lead {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 10px;
  z-index: 50;
  width: 100%;
  padding: 0 40px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
}

.header-logo {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2;
  align-items: center;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  display: flex;
  line-height: 1.2;
}

.header-logo img {
  height: 50px;
  margin-right: 8px;
}

.header-logo a,.gnav-item a{
  color: #BD3525;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 0.875rem;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #692B2D;
}

.gnav-item a:hover:after {
  width: 100%;
}

.gnav-item a:hover {
  color: #692B2D;
}

.drawer-toggle {
  display: none;
}

/*なみなみ*/
/*========= レイアウトのためのCSS ===============*/

/* #wrapper p{
  text-align:center;
} */

/*========= waveを描画するエリア設定 ===============*/


.wave{
  position: relative;
  /* height: 90vh; */
}

.wave canvas{
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  border-bottom: #BD3525 5px solid;
}
/*ここまでなみなみ*/




/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  background-color: #f7ebd5;
  height: 90vh;
  border-bottom: #BD3525 5px solid;
}

.mv-container {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.mv-container img {
  width: 70%;
  margin-bottom: 50px;
  padding-bottom: 0px;/*波の位置調整用*/
}

/*--------------------------------
 Works
---------------------------------*/
#works {
  background-color: #BD3525;
  padding: 60px 0;
  position: relative;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.works-box {
  background-color: #eae6e2;
  box-shadow: 0px 2px 5px rgba(51, 51, 51, .2);
  border-radius: 3px;
  width: 30%;
}

.works-item {
  color: #692B2D;
  display: inline-block;
  padding: 15px;
}

.works-name {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 0.625rem;
  margin-top: 5px;
}

.works-box:hover {
  background: linear-gradient(300deg,#ec8b4f,#f4c374,#f7ebd5);
  background-size: 120% 120%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*--------------------------------
 Skill
---------------------------------*/
#skill {
  background-color: #BD3525;
  padding: 60px 0;
}

.skill .title {
  z-index: 20;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill-item {
  display: flex;
  align-items: center;
  width: 47%;
  padding: 20px;
  position: relative;
  border: 1px solid #F7EBD5;
  border-radius: 3px;
}

.skill-img {
  margin-right: 20px;
  z-index: 5;

  background-color: #fff;
  border-radius: 3px;
  width: 70px;
  padding: 13px;
  box-shadow: 0px 2px 5px rgba(51, 51, 51, .2);
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
  color: #fff
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
  color: #fff
}

/*--------------------------------
 wave2
---------------------------------*/
.wave2 {
  /* z-index: 15; */
  /* background-color: #F7EBD5; */
  width: 100vw;
  position: relative;
  bottom: 1px;
  left: 0;
}


/*--------------------------------
 About
---------------------------------*/
#about {
  background-color: #F7EBD5;
  padding: 60px 0;
}

.about .title {
  color: #B33E34;
}

.about .ja {
  color: #B33E34;
}

.contact-sns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.profile-img {
  width: 20%;
  margin-right: 30px;
}

.profile-body {
  flex: 1;
  color: #88443e;
}

.profile-body p {
  line-height: 1.8;
}

.profile-body p:first-child {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8;
}

.profile-body p:last-child {
  font-size: 0.875rem;
}

.profile-text {
  font-size: 1rem;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.contact-text {
  margin-top: 10px;
}

/* .sns-icon {
  width: 30px;
}

.sns-box {
  padding: 15px;
  margin-left: 10px;
  background-color: #B33E34;
  border-radius: 100px;
  height: 60px;
  width: 60px;
} */


/*--------------------------------
 Contact
---------------------------------*/
#contact {
  background-color: #F7EBD5;
  padding: 60px 0;
}

#contact .ja {
  color: #BD3525;
}

.contact, .contact-mail {
  text-align: center;
}

#contact h2, .contact-mail {
  color: #B33E34;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

form {
  margin: 0 auto;
  width: 100%;
}

.contact-label, 
.privacypolicy {
  font-weight: bold;
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 3px;
}

.contact-span {
  margin-left: 15px;
  font-weight: bold;
  color: #BD3525;
}


/*お問い合わせフォームのスタイル*/
input[type="text"],
input[type="email"],
textarea {
	width: 50%;
	outline: none;
	padding: 0.5em 1em;
	background: #fff;
	border-radius: 3px;
}

textarea{
	height: 200px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	background: #fffcf6;/*フォーカスしたときの背景色*/
}

/*送信ボタンのスタイル*/
#contact .btn {
  margin-top: 30px;
}

.btn input ,
.home-link a{
	padding: 1em 3em;
	color: #F7EBD5;
	cursor: pointer;
	background: #692B2D;
	border-radius: 50px;
  box-shadow: 0px 3px 5px rgba(51, 51, 51, .3);
  transition: 0.3s all;
  font-weight: bold;
}

.btn input:hover ,
.home-link a:hover{
  background-color: #BD3525;
}

/* ボタンクリック時 */
.btn input:active ,
.home-link a:active{
  box-shadow: none;
  position: relative;
  top: 5px;
  opacity: 1;
  transition: .3s;
}

.form-text,
 .form-textarea {
  border: #B33E34 1px solid;
  margin-bottom: 15px;
}
/*ここまでお問い合わせフォームのスタイル*/


/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  /* padding: 10px; */
  cursor: pointer;
  text-align: center;
  background-color: #BD3525;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: #fff solid 1px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  z-index: 50;
}

.page-top::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff;
  position: relative;
  left: 0px;
  bottom: 9px;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 40px;
  background-color: #BD3525;
}

.footer .gnav-list {
  justify-content: flex-end;
  padding: 30px 0 50px 0;
}

.footer nav a {
  color: #F7EBD5;
}

.footer .modal {
  color: #F7EBD5;
  cursor: pointer;
}

.footer .gnav-item a,
.footer .modal {
  position: relative;
  font-size: 0.875rem;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
}
.footer .gnav-item a:after,
.footer .modal::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f4c374;
}

.footer .gnav-item a:hover:after,
.footer .modal:hover::after {
  width: 100%;
}

.footer .gnav-item a:hover,
.footer .modal:hover {
  color: #f4c374;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #F7EBD5;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 30px 0 80px 0;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 40px;
}

.article-title::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #BD3525;
}

.article-title {
  text-align: center;
  margin: 0 auto 30px;
  padding-left: 15px;
  position: relative;
  display: inline-block;
}

.article-title-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 1.125rem;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-shadow {
  box-shadow: 3px 3px 10px rgba(76, 63, 63, 0.2);
}

.article-body .article-img-shadow {
  width: 100%;
  height: auto;
  box-shadow: 3px 3px 10px rgba(76, 63, 63, 0.2);
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #B33E34;
}

.article-body p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

.img-mb {
  margin-bottom: 20px;
}

/* ---- privacypolicy ---- */
#privacypolicy {
  padding: 40px;
  font-size: 0.75rem;
}

.privacy-container {
  margin-bottom: 40px;
}

#privacypolicy li {
  margin-bottom: 10px;
}

/* ----- thanks.html ----- */
 .message_contents {
  text-align: center;
  padding: 0 20px 100px;
  max-height: 100vh;
}

.message_contents p {
  margin: 50px 20px;
}

.return {
  font-size: 1.2rem;
	padding: 1em 3em;
	color: #F7EBD5;
	cursor: pointer;
	background: #692B2D;
	border-radius: 50px;
  box-shadow: 0px 3px 5px rgba(51, 51, 51, .3);
  transition: 0.3s all;
  font-weight: bold;
}

.return:hover{
  background-color: #BD3525;
}


/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 0.875rem;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .lead {
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* ---------- レイアウト ---------- */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 40px;
  }

  /* ---------- ヘッダー ---------- */
  .header {
    width: 100%;
  }

  .header .container {
    padding: 10px 20px;
  }

  .header-logo {
    font-size: 1rem;
    margin-right: 15px;
    line-height: 3;
    align-items: center;
  }

  .header-logo a {
    display: flex;
    line-height: 1.5;
  }

  .header-logo img {
    margin-bottom: 3px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 0px;
  }

  .gnav-item a:after {
    display: none;
  }

  .header.is-active  {
    width: 100%;
  }

  header .gnav{
    transform: translateX(-100%);
    transition: all 0.6s ease 0s;
  }

  header .gnav.is-active{
    display: block;
    background: #EFDEBC;
    width: 100vw;
    height: 100vh;
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  header .gnav-list{
    display: none;
  }

  .gnav.is-active .gnav-list{
    display: block;
    text-align: center;
    padding-top: 50px;
  }

  .gnav.is-active .gnav-item{
    margin-top: 40px;
  }

  .gnav.is-active .gnav-item a{
    display: block;
    font-size: 1.25rem;
  }

  /* ---------- メインビジュアル ---------- */
  .mv-container {
    padding: 0 20px;
  }

  .mv-container img {
    width: 100%;
  }

  /* Works */
  .works-info {
    margin-top: 3px;
  }

  .works-list {
    gap: 20px;
  }

  .works-item {
    flex: 0 0 48%;
  }

  .works-box {
    width: 47%;
  }

  /* ---------- Skill ---------- */
  .skill-list {
    display: flex;
    margin-bottom: 35px;
    gap: 20px;
  }

  .skill-item {
    width: 47%;
    flex-wrap: wrap;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
    font-size: 0.875rem;
  }

  .skill-text {
    font-size: 0.75rem;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }

  .profile-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .profile-img img {
    width: 25%;
    margin: 0 auto;
    display: block;
  }

  /* contact */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 75%;
  }

  .contact-label, 
  .privacypolicy {
    width: 75%;
  }

  /* フッター */
  .footer .gnav-list a,
  .footer .gnav-list li{
    font-size: 0.75rem;
  }

  .footer .gnav-list {
    gap: 10px;
  }

  /* 下層ページ */
  .article {
    padding: 110px 0 50px 0;
  }

  .article-container {
    position: relative;
  }

  .article-title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: #B33E34;
  }
  
  .article-title {
    text-align: center;
    margin: 0 auto 30px;
    padding-left: 15px;
    font-size: 1.25rem;
  }
  
  .article-title-box {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .article-body h3 {
    font-size: 1rem;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 0.875rem;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* hamburger */
  .drawer-toggle {
    display: block;
    position: fixed;
    z-index: 150;
    transition: all 0.6s ease 0s;
    width: 30px;
    height: 20px;
    top: 40px;
    right: 60px;
  }

  .drawer-toggle.is-active .drawer-toggle-icon1 {
    transform: rotate(-45deg);
    top: 8px;
  }
  .drawer-toggle.is-active .drawer-toggle-icon2 {
    display: none;
  }
  .drawer-toggle.is-active .drawer-toggle-icon3 {
    transform: rotate(45deg);
    top: 8px;
  }
  .drawer-toggle.is-active::after {
    display: none;
  }
  .drawer-toggle-icons {
    width: 30px;
    position: relative;
  }

  .drawer-toggle-icon1, .drawer-toggle-icon2, .drawer-toggle-icon3 {
    height: 2px;
    position: absolute;
    width: 100%;
    background: #BD3525;
    transition: all 0.6s ease 0s;
    border-radius: 50px;
  }
  .drawer-toggle-icon1 {
    top: 0;
  }
  .drawer-toggle-icon2 {
    top: 8px;
  }
  .drawer-toggle-icon3 {
    top: 16px;
  }

}

/* ---------- 600px skill flex ---------- */
@media screen and (max-width: 600px) {
  .skill-item {
    width: 47%;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .skill-img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  /* contact */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  .contact-label, 
  .privacypolicy {
    width: 100%;
  }
}


@media screen and (max-width: 500px){
  .header {
    padding: 0 20px;
  }

  .drawer-toggle {
    right: 40px;
  }

  .container {
    padding: 0 20px;
  }

  .works-list {
    flex-direction: column;
  }

  .works-item {
    margin: 0;
  }

  .works-box {
    width: 100%;
  }

  .article-container {
    padding: 0 20px;
  }

  .article-title {
    font-size: 1rem;
    padding: 0 20px;
  }

  .article-body h3 {
    font-size: 0.875rem;
  }

  .article-body p {
    font-size: 0.75rem;
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .footer {
    padding: 20px;
  }

  #privacypolicy {
    padding: 50px 20px 40px 20px;
  }
  
}